<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.clinicapp">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.clinicapp.ShowAccounts"></activity>
        <activity android:name="com.example.clinicapp.AccountManager" />
        <activity android:name="com.example.clinicapp.DeleteService" />
        <activity android:name="com.example.clinicapp.EditService" />
        <activity android:name="com.example.clinicapp.AddService" />
        <activity android:name="com.example.clinicapp.SignupEmployee" />
        <activity android:name="com.example.clinicapp.SignupClient" />
        <activity android:name="com.example.clinicapp.LoginOptions" />
        <activity android:name="com.example.clinicapp.EmployeeLogin" />
        <activity android:name="com.example.clinicapp.AdminLogin" />
        <activity android:name="com.example.clinicapp.ClientLogin" />
        <activity android:name="com.example.clinicapp.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>